@model RecipeApp.Models.Recipes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing001" /> @Html.DisplayNameFor(model => model.Ing001)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing002" /> @Html.DisplayNameFor(model => model.Ing002)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing003" /> @Html.DisplayNameFor(model => model.Ing003)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing004" /> @Html.DisplayNameFor(model => model.Ing004)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing005" /> @Html.DisplayNameFor(model => model.Ing005)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing006" /> @Html.DisplayNameFor(model => model.Ing006)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing007" /> @Html.DisplayNameFor(model => model.Ing007)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing008" /> @Html.DisplayNameFor(model => model.Ing008)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing009" /> @Html.DisplayNameFor(model => model.Ing009)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing010" /> @Html.DisplayNameFor(model => model.Ing010)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing011" /> @Html.DisplayNameFor(model => model.Ing011)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing012" /> @Html.DisplayNameFor(model => model.Ing012)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing013" /> @Html.DisplayNameFor(model => model.Ing013)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing014" /> @Html.DisplayNameFor(model => model.Ing014)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing015" /> @Html.DisplayNameFor(model => model.Ing015)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing016" /> @Html.DisplayNameFor(model => model.Ing016)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing017" /> @Html.DisplayNameFor(model => model.Ing017)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing018" /> @Html.DisplayNameFor(model => model.Ing018)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing019" /> @Html.DisplayNameFor(model => model.Ing019)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing020" /> @Html.DisplayNameFor(model => model.Ing020)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing021" /> @Html.DisplayNameFor(model => model.Ing021)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing022" /> @Html.DisplayNameFor(model => model.Ing022)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing023" /> @Html.DisplayNameFor(model => model.Ing023)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing024" /> @Html.DisplayNameFor(model => model.Ing024)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing025" /> @Html.DisplayNameFor(model => model.Ing025)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing026" /> @Html.DisplayNameFor(model => model.Ing026)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing027" /> @Html.DisplayNameFor(model => model.Ing027)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing028" /> @Html.DisplayNameFor(model => model.Ing028)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing029" /> @Html.DisplayNameFor(model => model.Ing029)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing030" /> @Html.DisplayNameFor(model => model.Ing030)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing031" /> @Html.DisplayNameFor(model => model.Ing031)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing032" /> @Html.DisplayNameFor(model => model.Ing032)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing033" /> @Html.DisplayNameFor(model => model.Ing033)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing034" /> @Html.DisplayNameFor(model => model.Ing034)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing035" /> @Html.DisplayNameFor(model => model.Ing035)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing036" /> @Html.DisplayNameFor(model => model.Ing036)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing037" /> @Html.DisplayNameFor(model => model.Ing037)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing038" /> @Html.DisplayNameFor(model => model.Ing038)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing039" /> @Html.DisplayNameFor(model => model.Ing039)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing040" /> @Html.DisplayNameFor(model => model.Ing040)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing041" /> @Html.DisplayNameFor(model => model.Ing041)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing042" /> @Html.DisplayNameFor(model => model.Ing042)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing043" /> @Html.DisplayNameFor(model => model.Ing043)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing044" /> @Html.DisplayNameFor(model => model.Ing044)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing045" /> @Html.DisplayNameFor(model => model.Ing045)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing046" /> @Html.DisplayNameFor(model => model.Ing046)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing047" /> @Html.DisplayNameFor(model => model.Ing047)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing048" /> @Html.DisplayNameFor(model => model.Ing048)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing049" /> @Html.DisplayNameFor(model => model.Ing049)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing050" /> @Html.DisplayNameFor(model => model.Ing050)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing051" /> @Html.DisplayNameFor(model => model.Ing051)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing052" /> @Html.DisplayNameFor(model => model.Ing052)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing053" /> @Html.DisplayNameFor(model => model.Ing053)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing054" /> @Html.DisplayNameFor(model => model.Ing054)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing055" /> @Html.DisplayNameFor(model => model.Ing055)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing056" /> @Html.DisplayNameFor(model => model.Ing056)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing057" /> @Html.DisplayNameFor(model => model.Ing057)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing058" /> @Html.DisplayNameFor(model => model.Ing058)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing059" /> @Html.DisplayNameFor(model => model.Ing059)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing060" /> @Html.DisplayNameFor(model => model.Ing060)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing061" /> @Html.DisplayNameFor(model => model.Ing061)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing062" /> @Html.DisplayNameFor(model => model.Ing062)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing063" /> @Html.DisplayNameFor(model => model.Ing063)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing064" /> @Html.DisplayNameFor(model => model.Ing064)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing065" /> @Html.DisplayNameFor(model => model.Ing065)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing066" /> @Html.DisplayNameFor(model => model.Ing066)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing067" /> @Html.DisplayNameFor(model => model.Ing067)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing068" /> @Html.DisplayNameFor(model => model.Ing068)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing069" /> @Html.DisplayNameFor(model => model.Ing069)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing070" /> @Html.DisplayNameFor(model => model.Ing070)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing071" /> @Html.DisplayNameFor(model => model.Ing071)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing072" /> @Html.DisplayNameFor(model => model.Ing072)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing073" /> @Html.DisplayNameFor(model => model.Ing073)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing074" /> @Html.DisplayNameFor(model => model.Ing074)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing075" /> @Html.DisplayNameFor(model => model.Ing075)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing076" /> @Html.DisplayNameFor(model => model.Ing076)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing077" /> @Html.DisplayNameFor(model => model.Ing077)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing078" /> @Html.DisplayNameFor(model => model.Ing078)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing079" /> @Html.DisplayNameFor(model => model.Ing079)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing080" /> @Html.DisplayNameFor(model => model.Ing080)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing081" /> @Html.DisplayNameFor(model => model.Ing081)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing082" /> @Html.DisplayNameFor(model => model.Ing082)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing083" /> @Html.DisplayNameFor(model => model.Ing083)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing084" /> @Html.DisplayNameFor(model => model.Ing084)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing085" /> @Html.DisplayNameFor(model => model.Ing085)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing086" /> @Html.DisplayNameFor(model => model.Ing086)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing087" /> @Html.DisplayNameFor(model => model.Ing087)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing088" /> @Html.DisplayNameFor(model => model.Ing088)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing089" /> @Html.DisplayNameFor(model => model.Ing089)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing090" /> @Html.DisplayNameFor(model => model.Ing090)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing091" /> @Html.DisplayNameFor(model => model.Ing091)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing092" /> @Html.DisplayNameFor(model => model.Ing092)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing093" /> @Html.DisplayNameFor(model => model.Ing093)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing094" /> @Html.DisplayNameFor(model => model.Ing094)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing095" /> @Html.DisplayNameFor(model => model.Ing095)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing096" /> @Html.DisplayNameFor(model => model.Ing096)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing097" /> @Html.DisplayNameFor(model => model.Ing097)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing098" /> @Html.DisplayNameFor(model => model.Ing098)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing099" /> @Html.DisplayNameFor(model => model.Ing099)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ing100" /> @Html.DisplayNameFor(model => model.Ing100)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
