@model RecipeApp.Models.Recipes
@{
    ViewData["Title"] = "Details";
}


<h1>Details of @Model.Name</h1>

<p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>

<p>@Html.DisplayNameFor(model => model.Details) : @Html.DisplayFor(model => model.Details)</p>

<h2>Ingredients:</h2>
@if (Model.Ing001.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing001)<br />
}
@if (Model.Ing002.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing002)<br />
}
@if (Model.Ing003.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing003)<br />
}
@if (Model.Ing004.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing004)<br />
}
@if (Model.Ing005.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing005)<br />
}
@if (Model.Ing006.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing006)<br />
}
@if (Model.Ing007.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing007)<br />
}
@if (Model.Ing008.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing008)<br />
}
@if (Model.Ing009.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing009)<br />
}
@if (Model.Ing010.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing010)<br />
}
@if (Model.Ing011.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing011)<br />
}
@if (Model.Ing012.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing012)<br />
}
@if (Model.Ing013.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing013)<br />
}
@if (Model.Ing014.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing014)<br />
}
@if (Model.Ing015.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing015)<br />
}
@if (Model.Ing016.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing016)<br />
}
@if (Model.Ing017.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing017)<br />
}
@if (Model.Ing018.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing018)<br />
}
@if (Model.Ing019.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing019)<br />
}
@if (Model.Ing020.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing020)<br />
}
@if (Model.Ing021.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing021)<br />
}
@if (Model.Ing022.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing022)<br />
}
@if (Model.Ing023.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing023)<br />
}
@if (Model.Ing024.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing024)<br />
}
@if (Model.Ing025.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing025)<br />
}
@if (Model.Ing026.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing026)<br />
}
@if (Model.Ing027.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing027)<br />
}
@if (Model.Ing028.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing028)<br />
}
@if (Model.Ing029.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing029)<br />
}
@if (Model.Ing030.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing030)<br />
}
@if (Model.Ing031.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing031)<br />
}
@if (Model.Ing032.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing032)<br />
}
@if (Model.Ing033.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing033)<br />
}
@if (Model.Ing034.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing034)<br />
}
@if (Model.Ing035.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing035)<br />
}
@if (Model.Ing036.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing036)<br />
}
@if (Model.Ing037.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing037)<br />
}
@if (Model.Ing038.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing038)<br />
}
@if (Model.Ing039.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing039)<br />
}
@if (Model.Ing040.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing040)<br />
}
@if (Model.Ing041.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing041)<br />
}
@if (Model.Ing042.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing042)<br />
}
@if (Model.Ing043.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing043)<br />
}
@if (Model.Ing044.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing044)<br />
}
@if (Model.Ing045.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing045)<br />
}
@if (Model.Ing046.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing046)<br />
}
@if (Model.Ing047.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing047)<br />
}
@if (Model.Ing048.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing048)<br />
}
@if (Model.Ing049.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing049)<br />
}
@if (Model.Ing050.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing050)<br />
}
@if (Model.Ing051.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing051)<br />
}
@if (Model.Ing052.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing052)<br />
}
@if (Model.Ing053.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing053)<br />
}
@if (Model.Ing054.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing054)<br />
}
@if (Model.Ing055.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing055)<br />
}
@if (Model.Ing056.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing056)<br />
}
@if (Model.Ing057.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing057)<br />
}
@if (Model.Ing058.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing058)<br />
}
@if (Model.Ing059.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing059)<br />
}
@if (Model.Ing060.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing060)<br />
}
@if (Model.Ing061.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing061)<br />
}
@if (Model.Ing062.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing062)<br />
}
@if (Model.Ing063.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing063)<br />
}
@if (Model.Ing064.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing064)<br />
}
@if (Model.Ing065.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing065)<br />
}
@if (Model.Ing066.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing066)<br />
}
@if (Model.Ing067.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing067)<br />
}
@if (Model.Ing068.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing068)<br />
}
@if (Model.Ing069.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing069)<br />
}
@if (Model.Ing070.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing070)<br />
}
@if (Model.Ing071.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing071)<br />
}
@if (Model.Ing072.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing072)<br />
}
@if (Model.Ing073.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing073)<br />
}
@if (Model.Ing074.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing074)<br />
}
@if (Model.Ing075.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing075)<br />
}
@if (Model.Ing076.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing076)<br />
}
@if (Model.Ing077.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing077)<br />
}
@if (Model.Ing078.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing078)<br />
}
@if (Model.Ing079.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing079)<br />
}
@if (Model.Ing080.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing080)<br />
}
@if (Model.Ing081.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing081)<br />
}
@if (Model.Ing082.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing082)<br />
}
@if (Model.Ing083.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing083)<br />
}
@if (Model.Ing084.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing084)<br />
}
@if (Model.Ing085.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing085)<br />
}
@if (Model.Ing086.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing086)<br />
}
@if (Model.Ing087.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing087)<br />
}
@if (Model.Ing088.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing088)<br />
}
@if (Model.Ing089.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing089)<br />
}
@if (Model.Ing090.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing090)<br />
}
@if (Model.Ing091.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing091)<br />
}
@if (Model.Ing092.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing092)<br />
}
@if (Model.Ing093.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing093)<br />
}
@if (Model.Ing094.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing094)<br />
}
@if (Model.Ing095.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing095)<br />
}
@if (Model.Ing096.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing096)<br />
}
@if (Model.Ing097.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing097)<br />
}
@if (Model.Ing098.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing098)<br />
}
@if (Model.Ing099.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing099)<br />
}
@if (Model.Ing100.Equals(true))
{
    @Html.DisplayNameFor(model => model.Ing100)<br />
}


<p>
    <a href="@Model.Url" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Go to the recipe's website!'</a>
    <a asp-controller="RecipeOperations" asp-action="ListAll" class="btn btn-primary">Go To All Recipes</a>
</p>